
#header
%h2 RUN RTB Request Builder
%h3 A Simple Way to make RTB request test

#content
%p
  Please choose your template:
  %li
    %a{href: '/builder'} Banner Template
  %li
    %a{href: '/builder'} Video Template
  %li
    %a{href: '/builder'} Native Template