!!!
%html
  %head
    %title Create RTB Request Object
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h2 Create RTB Request Object
        %h3 A Simple Way to make RTB request test

      #content
        %h2 The Home Page
        %p
          Welcome to paragraph
        %p
          This is another paragraph

      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage

      #footer
        %p
          This is the footer.